#!/bin/sh

# Configurações do Xresources
xrdb -merge ~/.Xresources

# Configurações do teclado
setxkbmap -layout br -variant abnt2
setxkbmap -option caps:swapescape

# Configurações de ambiente
export PATH="$HOME/bin:$PATH"
export LANG="pt_BR.UTF-8"
export LC_COLLATE="C"

# Executar aplicativos adicionais
#exec --no-startup-id copyq &
#exec --no-startup-id flameshot &
copyq &
flameshot &
picom &
redshift &

